[Unit]
Description = Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=vt
WorkingDirectory=/home/vt/sites/SITENAME/source
Environment=EMAIL_PASSWORD=SEKRIT

ExecStart=/home/vt/sites/DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    --access-logfile access.log \
    --error-logfile error.log \
superlists.wsgi:application
StartLimitInterval = 60
StartLimitBurst = 10

[Install]
WantedBy=multi-user.target